=========================================
Python libraries required for the RC model
==========================================

Below is a list of libraries required for the RC model. Most of these are included in the standard python library.

* = Optional component of standard library
** = not included in standard library

run_rc_model.py ----------------------------

time
cgi
os
signal
shutil
subprocess
tempfile
json
sys

multiprocessing*
threading*

flup**

local_cache_functions.py -------------------

os
shutil
traceback



s3_functions.py ----------------------------

boto**

postprocess.py -----------------------------

os

numpy**
matplotlib**
pylab**


