/* Some styles for the RC model */
/* M Singh 4 Oct 2013           */


/* Left and right frames */

   .framel {
      width: 70%;
      float: left;
      overflow: visible;
    }


   .framer {
      width: 30%;
      float: left;
      overflow-y: none;
    }


/* Class that lines up the input boxes (unforunate name */

    .label {
        display: inline-block;
        width: 250px;
        font: inherit;
        margin-bottom: 5px;
        overflow:visible
        color: inherit; }

/* Class that lines up some of the drop down menus */

     .dates {
        width: 160px;
        display: inline-block;
        font: inherit;
        color: inherit; }


/* Class that lines up some of the checkboxes and radio buttons */

    .chkbx {
       margin-left: 20px;
       font: inherit;
       color: inherit; }


/* Class that lines up the headings of each section */

    .form_input {
       color: #3c3c3c;
       font: 300 1rem/1.6rem Georgia, Cambria, "Times New Roman", Times, serif;
       margin-bottom: 40px;
       text-shadow: 0 1px rgba(255, 255, 255, 0.4);
       -webkit-font-smoothing: antialiased; }



/* Formating for the errors */

/* prevent chrome default error checking */
input:invalid {
   background:#fff;
}



/* the error input boxes themselves */

      input.error {
          box-shadow: 0 0 5px 1px red;
          color:red;  
      }

/* Position the error popups relative to the input boxes */

      span.errcontainer {
           position: relative;
           display: inline-block;
           width: 80px; }



/* Miscelaneous spacer */

      span.spacer {width:50px;}



/* construct the error popup */

      label.error {
           position: absolute;
           left:10px; top:-38px;
           width: 90px;
           font-size:0.7em;
           height: 65px;
           padding: 10px;
           background: #FF6B6C;
           color:#fff;
           -webkit-border-radius: 15px;
           -moz-border-radius: 15px;
           border-radius: 15px; }

/* The arrow for the error popup */

     label.error:after {
          content: "";
          position: absolute;
          top: 24px;
          left: -15px;
          border-style: solid;
          border-width: 10px 15px 10px 0;
          border-color: transparent #FF6B6C;
          display: block;
          width: 0;
          z-index: 1; }

/* redefine margins for paragraphs */

     p.para {
         color: #3c3c3c;
         font: 300 1rem/1.6rem Georgia, Cambria, "Times New Roman", Times, serif;
         margin-bottom: 10px;
         margin-left: 0px;
         text-shadow: 0 1px rgba(255, 255, 255, 0.4);
         -webkit-font-smoothing: antialiased; }
     p {
         color: #3c3c3c;
         font: 300 1rem/1.6rem Georgia, Cambria, "Times New Roman", Times, serif;
         margin-bottom: 10px;
         margin-left: 50px;
         text-shadow: 0 1px rgba(255, 255, 255, 0.4);
         -webkit-font-smoothing: antialiased; }

/* redefine the number input to be consistent between browsers */
     input[type=number]{
         width: 70;
     }


/* ??? */
     input::-webkit-outer-spin-button,
     input::-webkit-inner-spin-button {

     /* display: none; <- Crashes Chrome on hover */
     -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }



/* Formatting for the data table */

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 2px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }






